.hintDisplay{
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-text-align:center;
    -fx-background-color: #FFFFFF;
}

.hintDisplay Text{
    -fx-font: 25 arial;
}

.historyArea{
    -fx-background-color: #FFFFFF;
}

.tile{
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-text-align:center;
    -fx-background-color: #FFFFFF;
}

.tile.filled{
    -fx-transition: -fx-background-color 10ms linear;
    -fx-background-color: #000000;
}

.tile.marked{
    -fx-background-color: #707070;
}

.tile.markedWrong{
    -fx-background-color: red;
}

.popupPanel{
    -fx-background-color: rgba(0,0,0,0);
}